.item-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 350px;
  background-color: $white-1;
  box-shadow: $shadow-1;

  img {
    width: 250px;
    height: 250px;
    padding: 50px;
    background-color: $white-2;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    padding: 15px;

    p {
      color: #c63228;
    }

    h3 {
      text-align: start;
      font-weight: 500;
    }
  }
}
