.item-s {
  position: relative;
  display: flex;
  width: 520px;
  height: 50px;
  padding: 15px 50px 15px 15px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: $white-1;
  box-shadow: $shadow-1;
  cursor: pointer;

  &:hover {
    .favorite:not(.active) {
      fill: $gray-2;
    }
  }

  .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;

    &.active {
      fill: $red-1;
    }
  }

  .description {
    display: flex;
    justify-content: start;
    align-items: center;
    width: inherit;

    p {
      width: 65px;
      flex-basis: 91px;
      color: #c63228;
      margin: 0;
      margin-right: 15px;
    }

    h2 {
      width: 100%;
      margin: 0;
      text-align: start;
      font-weight: 500;
      white-space: nowrap;
      line-height: inherit;
      @include slow-hide;
    }
  }
}

@include --mobile {
  .item-s {
    width: 100%;

    .favorite {
      fill: $gray-3;
    }
  }
}
