.btn-cstm {
  border: none;
  color: $black-1;
  background: $white-1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  --bs-btn-focus-shadow-rgb: none;

  &.btn-shadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }

  &.active {
    background: $blue-2;
  }

  &:hover {
    background-color: $blue-2;
  }
}
