$blue-1: #71c5ee;
$blue-2: #025091;

$background: linear-gradient(135deg, $blue-1, $blue-2);

$black-1: #212529;

$white-1: #ecedee;
$white-2: #f8f9fa;

$gray-1: #616161;

$shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
$shadow-2: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
$shadow-3: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
