$blue-1: #71c5ee;
$blue-2: #025091;

$green-1: #4d9559;
$green-2: #38703d;
$green-3: #133917;

$beige-1: #b79891;
$beige-2: #94716b;

$background-1: linear-gradient(246.59deg, $green-1, $green-2, $green-3);
$background-2: linear-gradient(246.59deg, $beige-1, $beige-2);
$background-3: linear-gradient(246.59deg, $blue-1, $blue-2);

$black-1: #212529;

$white-1: #ecedee;
$white-2: #f8f9fa;

$gray-1: #616161;
$gray-2: #acacac;
$gray-3: #dcdcdc;

$red-1: #c63228;

$shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
$shadow-2: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
$shadow-3: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
