.content {
  margin: 0 auto;
  min-height: 100vh;

  h1 {
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
  }
}

@include --desktop {
}

@include --tablet {
}

@include --mobile {
}
