.cocktail-page {
  h2 {
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
  }

  .cocktail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    img {
      width: 250px;
      height: 250px;
      padding: 50px;
      background-color: #f8f9fa;
    }

    .description-container {
      margin: 0 0 0 40px;

      .cocktail-amount {
        padding: 20px 0;
      }

      .cocktail-description {
        padding: 20px 0;
      }
    }
  }
}
