.wrapper-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-editor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .editor-ingredient {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: max-content;
      margin: 32px 16px 0 16px;
      padding: 32px 24px;
      border-radius: 5px;
      box-shadow: $shadow-1;
      background-color: $white-2;

      h3 {
        margin-bottom: 16px;
        text-align: start;
        font-weight: 500;
      }

      form {
        width: 100%;

        label {
          width: 100%;

          input {
            width: 100%;
            height: 36px;
            padding-left: 12px;
            border: none;
            border-radius: 5px;
            background-color: $white-1;
          }

          select {
            width: 100%;
            height: 36px;
          }
        }

        .error {
          height: 18px;
          font-size: 12px;
          text-align: end;
          color: $red-1;
        }

        .add-buttons {
          display: flex;
          justify-content: end;
          width: 100%;
          margin-top: 24px;
        }
      }
    }

    .editor-cocktail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 500px;
      margin: 32px 16px 0 16px;
      padding: 32px 24px;
      border-radius: 5px;
      box-shadow: $shadow-1;
      background-color: $white-2;

      h3 {
        margin-bottom: 16px;
        text-align: start;
        font-weight: 500;
      }

      form {
        width: 100%;

        label {
          width: 100%;

          input {
            width: 100%;
            height: 36px;
            padding-left: 12px;
            border: none;
            border-radius: 5px;
            background-color: $white-1;
          }

          select {
            width: 100%;
            height: 36px;
          }
        }

        .error {
          height: 18px;
          font-size: 12px;
          text-align: end;
          color: $red-1;
        }

        .cocktail-ingredient {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 16px;
            list-style-type: none;
          }

          input[type='number'] {
            width: 60px;
            margin: 0 16px;
          }

          select {
            width: 100%;
          }

          .ingredient-units {
            width: 85px;
          }

          .ingredient-remove {
            margin-left: 16px;
          }
        }

        .add-buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 8px;
        }
      }
    }
  }
}
