.item-b {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 335px;
  background-color: $white-1;
  box-shadow: $shadow-1;
  cursor: pointer;

  &:hover {
    .favorite:not(.active) {
      fill: $gray-2;
    }
  }

  .favorite {
    position: absolute;
    bottom: 44px;
    right: 10px;
    padding: 5px;

    &.active {
      fill: $red-1;
    }
  }

  img {
    width: 250px;
    height: 250px;
    padding: 50px;
    background-color: $white-2;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 88px;
    padding: 15px;
    width: inherit;

    p {
      color: #c63228;
    }

    h3 {
      width: 100%;
      text-align: start;
      font-weight: 500;
      white-space: nowrap;
      @include slow-hide;
    }
  }
}
