.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;

  #menu {
    padding: 16px 0;
    box-shadow: $shadow-3;

    span {
      padding: 10px 20px;
      color: $black-1;
      font-size: 23px;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: $white-2;
      }
    }
  }
}
