body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #71c5ee, #025091);
  font-family: 'Poppins';
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #212529;

  &:hover {
    color: #212529;
  }
}

label {
  margin-bottom: 4px;
}

input[type='text'],
input[type='number'] {
  height: 36px;
  padding-left: 12px;
  border: none;
  border-radius: 5px;
  background-color: $white-1;
  color: $gray-1;
}

select {
  height: 36px;
  padding: 0 12px;
  border: none;
  border-radius: 5px;
  background-color: $white-1;
  color: $gray-1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 50px;
}

footer {
  height: 50px;
}

@include --desktop {
}

@include --tablet {
}

@include --mobile {
}
