body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #71c5ee, #025091);
  font-family: 'Poppins';
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #212529;

  &:hover {
    color: #212529;
  }
}

header {
  height: 50px;
}

main {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    height: 130px;

    margin: 20px;
    padding: 15px;

    background-color: #ecedee;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

footer {
  height: 50px;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

@include --mobile {
  .main-page {
    flex-direction: column;
    align-items: center;
  }
}
