body {
  min-height: 100vh;
  background: $background;
}

p,
h1,
h2,
h3 {
  margin: 0;
  color: $black-1;
}

a {
  text-decoration: none;
}

nav {
  height: 100%;
  padding: 12px;

  a {
    margin: 0 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
    color: $white-1;

    &:hover {
      color: $white-1;
      border-bottom: 2px solid $white-1;
    }

    &.active {
      border-bottom: 2px solid $white-1;
    }
  }
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
  height: 36px;
  padding-left: 12px;
  border: none;
  border-radius: 5px;
  background-color: $white-1;
  color: $gray-1;
}

select {
  height: 36px;
  padding: 0 24px 0 12px;
  border: none;
  border-radius: 5px;
  background-color: $white-1;
  color: $gray-1;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23616161%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
}

@include --desktop {
}

@include --tablet {
}

@include --mobile {
}
