.homepage {
  section {
    padding: 0 19%;
  }

  .icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);

    i {
      display: block;
      margin: 26px 0;
      font-size: 24px;
      color: $white-1;
      transition: all 0.5s ease;

      &:hover {
        color: $green-1;
        transform: translateY(-5px);
      }
    }
  }
}
