main {
  nav {
    text-align: center;
  }

  .content {
    h1 {
      padding: 20px 0;
      text-align: center;
      font-weight: 700;
    }
  }
}

@include --desktop {
}

@include --tablet {
  main .content h1 {
    padding: 0;
  }
}

@include --mobile {
  main .content h1 {
    padding: 0;
  }
}
