.pagination {
  margin: 0 auto 16px auto;
  width: max-content;

  .page-item {
    &.active {
      .page-link {
        border-radius: 5px;
        background-color: $green-2;
      }
    }

    .page-link {
      background-color: transparent;
      border: none;
      color: $black-1;
    }
  }
}
